body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/*Profile picture*/
.profile-picture img{
    vertical-align: middle;
    border-radius: 50%;
}

/*Navbar*/
.navbar .profile-picture {
    line-height: 50px;
}

/*Articles*/
.article-summary .profile-picture img{
    display: block;
    margin: 0 auto;
}

.article-summary .col-md-4{
    margin-top: 5px;
}

.article-summary .author-name{
    margin: 10px 0 0 0;
}

.article-list{
    margin-top: 10px;
}

.article-list,
.article-details {
    border-right: 1px solid #eee;
}

.article-page{
    margin-top: 20px;
}

.last-articles {
    margin-top: 10px;
    padding-top: 10px;
}

.last-articles-list blockquote {
    font-size: 14px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
